<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sportspunchin.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.sportspunchin.pojo.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />


    </resultMap>
    <sql id="Base_Column_List" >
    id, account, username, password
  </sql>


    <!-- 查询所有用户 -->
    <select id="findAllUser" parameterType="com.sportspunchin.pojo.User" resultType="com.sportspunchin.pojo.User">
        select
        <include refid="Base_Column_List" />
        from t_user
        where username like concat('%', #{username}, '%')

    </select>

    <select id = "findUserByMap" parameterType="map" resultType="com.sportspunchin.pojo.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where username = #{map.username} and password = #{map.password}

    </select>


</mapper>
